<!-- <div class="row">
    <nav>
        <div class="nav-wrapper" style="background: lightslategrey">
            <ul class="left hide-on-med-and-down">
                <li>
                    <a routerLink="home">Home</a>
                </li>
                <li>
                    <a routerLink="listUsers">Users</a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li *ngIf="show">
                    <a routerLink="login">
                        Đăng nhập
                    </a>
                </li>
                <li>
                    <a (click)="Logout()">Log out</a>
                </li>
                <li>
                    <a>
                        <i class="material-icons">search</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div> -->

<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/listUsers">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="show">
                    <a routerLink="/login">Đăng nhập</a>
                </li>
                <li>
                    <a (click)="Logout()">Log out</a>
                </li>
                <li>
                    <a>
                        <i class="material-icons">search</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>