<h1>Users List </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td class="col-md-2" class="textheader">User Name</td>
            <td class="col-md-3" class="textheader">Full Name</td>
            <td class="col-md-3" class="textheader">Mobile</td>
            <td class="col-md-2" class="textheader">Email</td>
            <td class="col-md-2" class="textheader">Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of users">
            <td class="col-md-2" class="textarea">{{emp.UserName}}</td>
            <td class="col-md-3" class="textarea">{{emp.FirstName + " " + emp.LastName}} </td>
            <td class="col-md-3" class="textarea">{{emp.PhoneNumber}}</td>
            <td class="col-md-2" class="textarea">{{emp.Email}}</td>
            <td class="col-md-2" class="textarea">
                <a [routerLink]="['/editUser/',emp.UserName]" [queryParams]="{page: 0, hide: 0}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>