hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid silver;
    margin: 1em 1em;
    padding: 0; 
}
#divForm
{
    border: thin  solid silver;
    box-shadow: 1px 1px silver;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}
#btnSignUp
{
    height: 35px !important;
    margin-top: 10px;
}

#divContent
{
    margin: 5px 5px;
}

#divError
{
    color: red;
}
#divLogin
{
    text-align: center;
    margin-top: 10px;
}